.container_top {
  margin-top: 40px;
}

.game_container {
  display: flex;
  justify-content: center;
}

.scissors {
  box-shadow: inset 0px -4px #c76e1d;
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: sticky;
  padding: 9px;
  margin-left: 115px;
}

.spock {
  box-shadow: inset 0px -4px #5c8caa;
  background: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: sticky;
  padding: 9px;
  margin-left: -30px;
}

.lizard {
  box-shadow: inset 0px -4px #5b25a7;
  position: sticky;
  background: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  width: 100px;
  height: 100px;
  border-radius: 100%;
  padding: 9px;
  margin-top: 50px;
  margin-left: 30px;
}

.rock {
  box-shadow: inset 0px -4px #861e36;
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: sticky;
  padding: 9px;
  margin-top: 50px;
  margin-left: 20px;
}

.paper {
  box-shadow: inset 0px -4px #3f31b9;
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: sticky;
  margin-left: 65px;
  padding: 9px;
}

.image_top {
  margin-top: 20px;
}

.image_inner {
  box-shadow: inset 0px 4px 1px rgb(188, 186, 208);
  background-color: white;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center !important;
}

@media screen and (min-width: 768px) {
  .score_board {
    background: #f9f9f9;
    border-radius: 9px;
    border-style: solid;
    height: 120px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
  }
  .score_board_header {
    text-align: center;
    color: hsl(229, 64%, 46%);
    font-weight: 700;
    margin-top: 15px;
  }

  .score_board_score {
    font-weight: 700;
    text-align: center;
    font-size: 61px;
    margin-top: -36px;
    color: hsl(217, 16%, 45%);
  }
  .center_holder {
    position: absolute;
    contain: initial;
    height: 350px;
    width: 350px;
    background: url("/images/bg-pentagon.svg") center / auto no-repeat;
  }
  .scissors_large {
    box-shadow: inset 1px -10px #c76c1d;
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: sticky;
    padding: 30px;
    margin-top: 80px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
  }
  .lizard_large {
    box-shadow: inset 1px -10px #5b25a7;
    background: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: sticky;
    padding: 30px;
    margin-top: 80px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
  }
  .spock_large {
    box-shadow: inset 1px -10px #5c8caa;
    background: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: sticky;
    padding: 30px;
    margin-top: 80px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
  }
  .rock_large {
    box-shadow: inset 1px -10px #861e36;
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: sticky;
    padding: 30px;
    margin-top: 80px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
  }
  .paper_large {
    box-shadow: inset 1px -10px #3f31b9;
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: sticky;
    padding: 30px;
    margin-top: 80px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
  }
  .scissors-inner_large {
    background-color: white;
    border-radius: 100%;
    height: 240px;
    width: 240px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    background-image: url("/images/icon-scissors.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
  }
  .spock-inner_large {
    background-color: white;
    border-radius: 100%;
    height: 240px;
    width: 240px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    background-image: url("/images/icon-scissors.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
  }
  .lizard-inner_large {
    background-color: white;
    border-radius: 100%;
    height: 240px;
    width: 240px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    background-image: url("/images/icon-scissors.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
  }
  .paper-inner_large {
    background-color: white;
    border-radius: 100%;
    height: 240px;
    width: 240px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    background-image: url("/images/icon-scissors.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
  }
  .rock-inner_large {
    background-color: white;
    border-radius: 100%;
    height: 240px;
    width: 240px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    background-image: url("/images/icon-scissors.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
  }
  .image_top_large {
    margin-top: 70px;
  }
  .image_inner_large_wireframe {
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    background-color: #172240;
    border-radius: 100%;
    height: 300px;
    width: 300px;
  }
  .circle_outer {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: sticky;
    padding: 30px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 768px) {
  .score_board {
    background: #f9f9f9;
    border-radius: 9px;
    border-style: solid;
    min-height: 80px;
    max-height: 10vh;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
  }
  .imageLogo {
    height: 20vw !important;
  }
  .score_board_header {
    text-align: center;
    color: hsl(229, 64%, 46%);
    font-weight: 700;
    margin-top: 10px;
    font-size: 14px;
  }

  .score_board_score {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    margin-top: -30px;
    color: hsl(217, 16%, 45%);
  }
  .center_holder {
    position: absolute;
    contain: initial;
    height: 310px;
    width: 310px;
    background: url("/images/bg-pentagon.svg") center / auto no-repeat;
  }
  .scissors_large {
    box-shadow: inset 1px -10px #c76c1d;
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: sticky;
    padding: 16px;
    margin-top: 70px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
  }
  .lizard_large {
    box-shadow: inset 1px -10px #5b25a7;
    background: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: sticky;
    padding: 16px;
    margin-top: 70px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
  }
  .spock_large {
    box-shadow: inset 1px -10px #5c8caa;
    background: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: sticky;
    padding: 16px;
    margin-top: 70px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
  }
  .rock_large {
    box-shadow: inset 1px -10px #861e36;
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: sticky;
    padding: 16px;
    margin-top: 70px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
  }
  .paper_large {
    box-shadow: inset 1px -10px #3f31b9;
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: sticky;
    padding: 16px;
    margin-top: 70px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
  }
  .image_top_large {
    margin-top: 30px;
  }
  .scissors-inner_large {
    background-color: white;
    border-radius: 100%;
    height: 160px;
    width: 160px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    background-image: url("/images/icon-scissors.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
  }
  .spock-inner_large {
    background-color: white;
    border-radius: 100%;
    height: 160px;
    width: 160px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    background-image: url("/images/icon-scissors.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
  }
  .lizard-inner_large {
    background-color: white;
    border-radius: 100%;
    height: 160px;
    width: 160px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    background-image: url("/images/icon-lizard.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
  }
  .paper-inner_large {
    background-color: white;
    border-radius: 100%;
    height: 160px;
    width: 160px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    background-image: url("/images/icon-paper.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
  }
  .rock-inner_large {
    background-color: white;
    border-radius: 100%;
    height: 160px;
    width: 160px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    background-image: url("/images/icon-rock.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
  }
  .image_inner_large_wireframe {
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    background-color: #172240;
    border-radius: 100%;
    height: 200px;
    width: 200px;
  }
  .circle_outer {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: sticky;
    padding: 30px;
    margin-top: 45px;
  }
}
.scissors:hover,
.paper:hover,
.lizard:hover,
.rock:hover,
.spock:hover {
  cursor: pointer;
  transform: translate3d(0px, -8px, 0px);
}
.title_custom {
  color: white;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center !important;
}
.request-loader::after {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: "";
  height: 100%;
  width: 100%;
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}
.winner::before {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: "";
  height: 100%;
  width: 100%;
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

@-webkit-keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}
