.container_top {
  margin-top: 40px;
}

.game_container {
  display: flex;
  justify-content: center;
}

.center_holder {
  position: absolute;
  z-index: 10000;
  contain: initial;
  height: 350px;
  width: 350px;
  background: url("../../images/bg-pentagon.svg") center / auto no-repeat;
}

.scissors {
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: sticky;
  padding: 8px;
  margin-left: 115px;
}

.sprock {
  background: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: sticky;
  padding: 8px;
  margin-left: -30px;
}

.lizard {
  position: sticky;
  background: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  width: 100px;
  height: 100px;
  border-radius: 100%;
  padding: 8px;
  margin-top: 50px;
  margin-left: 30px;
}

.rock {
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: sticky;
  padding: 8px;
  margin-top: 50px;
  margin-left: 20px;
}

.paper {
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: sticky;
  margin-left: 65px;
  padding: 8px;
}

.image_top {
  margin-top: 20px;
}

.image_inner {
  background-color: white;
  border-radius: 100%;
  height: 85px;
  width: 85px;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center !important;
}

.score_board {
  background: #f9f9f9;
  border-radius: 10px;
  border-style: solid;
  height: 93%;
  width: 173px;
  margin-top: 5px;
  float: right;
}

.score_board_header {
  text-align: center;
  color: var(--bs-blue);
  font-weight: 700;
  margin-top: 20px;
}

.score_board_score {
  font-weight: 700;
  text-align: center;
  font-size: 61px;
  margin-top: -36px;
}
